#quiz{
    margin-left: 20%;
    margin-top: 5%
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: cadetblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
}

button:hover{
    opacity: 0.8;
}

.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;

}

.container{
    width: 50%
    
}

@media screen and (max-width: 300px){
    span.psw{
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;

    }
}



    h2{
    margin-left: 65px;
    text-shadow:1px 0px 3px gray;
    }
    h3{
    font-size:18px;
    text-align:center;
    text-shadow:1px 0px 3px gray;
    }
    #onclick{
    padding:3px;
    color:green;
    cursor:pointer;
    padding:5px 5px 5px 15px;
    width:70px;
    color:white;
    background-color:#123456;
    box-shadow:1px 1px 5px grey;
    border-radius:3px;
    }
    b{
    font-size:18px;
    text-shadow:1px 0px 3px gray;
    }
    #popup{
    padding-top:80px;
    }
   
  
    
   
    
    #login{
    left: 50%;
    top: 50%;
    margin-left:-210px;
    margin-top:-158px;
    } 

 #results{
     font-family: sans-serif;
     font-size: 100%;

 }   