input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* body{
    background: linear-gradient(#0000007c, #0000007c), url("../Login_Page/res/0000fe0123f8a2f29556a19b4094eb338286b76bd00dc03e5a7e64fbad4e1c91.jpg") no-repeat;
    background-position: center right;

} */

.capitally{
    font-weight: bolder;
    
}


button{
    background-color: cadetblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
}
p.thick {
    font-weight: bold;
}
button:hover{
    opacity: 0.8;
}

.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;

}

@media screen and (max-width: 300px){
    span.psw{
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;

    }
}
